* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans';
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
}




.header {
    /* overflow: hidden; */
    font-size: 1.5rem;
    line-height: 1.2rem;
    background-color: white;
}

.header a {
    font-size: 1rem;
    padding-right: .5rem;
}

.header-right {
    float: right;

}

.strapline {
    text-align: center;
    background-size: 100%;
    /* transform: translateX(-10rem);  */
    color: black;
    padding: 4rem 15rem 4rem 15rem;
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: -0.1rem;
}

.strapline_img {
    text-align: center;
    left: -.5rem;
    width: 100vw;
    height: 440px;

    background-image: url('assets/flower.png');

    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 6rem 15rem 5rem 15rem;
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: -0.1rem;
}

.videoDiv2 {
     left: -.5rem; */

    margin: auto;
    display: block;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    


}


.videoMessage2 {
    position: absolute;
    text-align: center;
    left: -.5rem;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    padding: 6rem 12rem 5rem 12rem;
    font-size: 3.2rem;
    line-height: 3.2rem;
    letter-spacing: -0.1rem;
}

.footer {
    overflow: hidden;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    letter-spacing: -0.03rem;
    line-height: 1.2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 0.25rem;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0rem 0.5rem;
}



.card {
    margin-top: .5rem;
    margin-bottom: 1rem;

    padding: 1rem;
    /* height: 20rem; */
    /* border-radius: 0.3rem; */
    background-image: url('assets/ng_test_img.png');
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -0.1rem;
    color: white;
    /* height: 100%; */
}

.card1 {
    margin-top: 1rem;
    /* margin-bottom:rem; */

    padding: 1.2rem;
    /* height: 20rem; */
    /* border-radius: 0.5rem; */
    /* background-color: rgb(225, 255, 235); */
    border-color: black;
    border-style: dotted;
    border-width: 1px;
    font-size: 1.5rem;
    line-height: 1.6rem;
    letter-spacing: -0.05rem;
}

.card2 {
    margin-top: .5rem;
    margin-bottom: 1rem;

    padding: 1.5rem;
    /* height: 20rem; */
    /* border-radius: 10px; */
    background-color: rgb(255, 240, 240);
    font-size: 1.5rem;

    line-height: 1.6rem;
    letter-spacing: -0.05rem;
}

.card3 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    padding: .5rem;
    /* height: 20rem; */
    /* border-radius: 10px; */
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px #cccccc;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -0.1rem;
}

.card4 {
    margin-top: .5rem;
    margin-bottom: 1rem;

    padding: 1.5rem;
    /* height: 20rem; */
    /* border-radius: 10px; */
    background: linear-gradient(90deg, rgba(244, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
    color: white;
    font-size: 1.1rem;
    line-height: 1.rem;
    letter-spacing: -0.01rem;
}

.card5 {
    margin-top: 1rem;
    /* margin-bottom:rem; */

    padding: 1.2rem;
    /* height: 20rem; */
    /* border-radius: 0.5rem; */
    background: linear-gradient(12deg, rgba(76, 93, 130, 0.07) 0%, rgba(255, 143, 187, 1) 100%);
    border-color: black;
    /* border-style: dotted; */
    border-width: 1px;
    font-size: 1.5rem;
    line-height: 1.6rem;
    letter-spacing: -0.05rem;
}

.card6 {
    margin-top: 1rem;
    /* margin-bottom:rem; */

    padding: 1.2rem;
    /* height: 20rem; */
    /* border-radius: 0.5rem; */
    background: linear-gradient(88deg, rgba(255, 139, 33, 0.23) 7%, rgba(255, 230, 143, 1) 98%);
    border-color: black;
    /* border-style: dotted; */
    border-width: 1px;
    font-size: 1.5rem;
    line-height: 1.6rem;
    letter-spacing: -0.05rem;
}

.desc {
    font-family: 'DM Mono';
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 0rem;

}






@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }

    .strapline {
        text-align: center;
        padding: 120px 160px 120px 160px;
        font-size: 4rem;
        line-height: 4rem;
        letter-spacing: -0.1rem;
    }
    .videoMessage2 {
        position: absolute;
        text-align: center;
        left: -.5rem;
       
        color: rgb(255, 255, 255);
        padding: 7rem 1rem 7rem 1rem;
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: -0.1rem;
    }
}


@media screen and (max-width: 650px) {


    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: right;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }



    .strapline_img {
        text-align: center;
        background-image: url('assets/flower_mob.png');
        padding: 7rem 1rem 7rem 1rem;
        font-size: 3.5rem;
        line-height: 3.5rem;
        letter-spacing: -0.1rem;
    }

    .strapline {
        text-align: center;

        padding: 7rem 1rem 7rem 1rem;
        font-size: 3.5rem;
        line-height: 3.5rem;
        letter-spacing: -0.1rem;
    }
    .videoDiv2 {
    width: 104%;
    overflow:hidden;
    }
    .videoMessage2 {
        position: absolute;
        text-align: center;
        left: -.5rem;
       
        color: rgb(255, 255, 255);
        padding: 7rem 1rem 7rem 1rem;
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: -0.1rem;
    }
}